<!DOCTYPE html>
<html lang="en">
<%- include("../partials/Header.ejs") %>

    <body>
        <div class="card container my-3">
            <div class="card-header">
                Oops Not Found
            </div>
            <div class="card-body">
                <h5 class="card-title">404 page</h5>
                <p class="card-text">Good Luck ! Next Time</p>
                <a href="/" class="btn btn-primary">Home</a>
            </div>
        </div>
    </body>

</html>